html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9B7B7dd;
    border-radius: 20px;
    border: 40px solid;
    border-color: #BD8B8Bdd;
    font-family: 'Micro 5', sans-serif;
}

#prompt {
    text-align: center;
    color: #973B3B;
    font-family: 'Micro 5', sans-serif;
    font-size: 50px;
}


button {
    background-color: transparent;
    border-color: transparent;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(0.95);
}

button:active {
    transform: scale(0.9);
}

#albums-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;
}

.album-button {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Micro 5', sans-serif;
}

.album-button img {
    height: 150px;
}